body {
  font-family: "DM Sans", sans-serif;
}

body {
  background-image: url("./assets/bg-cafe.jpg");
  background-color: #121315;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 400px;
}
